{%load static%}
{%include 'base.html'%}
{%include 'nav.html'%}

{%block contant %}
<div class="container">
    <h2 class="text-center mt-4">View Doctor</h2>
    <table id="example" class="display table table-toggle" style="width:100%" >
        <thead>
            <tr>
                <th>Doctor ID</th>
                <th>Doctor Name</th>
                <th>Contact no</th>
                <th>Specialization</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for i in doc %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.special}}</td>
                <td><a class="btn btn-danger" href="{%url 'delete_doctor' i.id%}" onclick="return confirm('Are You Sure want to delete?')">Remove</a></td>
            </tr>
            {% endfor %}

        </tbody>

    </table>
</div>
{%endblock contant %}
{%include 'footer.html'%}